@import './utils.scss';

html, body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $backgroundColor;
  font-family: $fontFamily, sans-serif;
}

ul, p {
  margin: 0;
  padding: 0;
}