$backgroundColor: #EFE9F4;
$teal: #16BAC5;
$tealHover: #20a6b0;
$blueAlpha: #5fbef9f0;

$border-radius: 15px;
$boxShadow: 0px 0px 6px -1px rgba(0,0,0,0.43);

$fontBlack: #171D1C;
$fontWhite: #FFFFFF;
$fontFamily: 'Roboto';

$breakpoints: (
  'medium': 600px,
  'large': 1290px,
) !default;

//Mixings
@mixin flexDisplay($direction: row, $wrap: null, $items: null, $content: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
  flex-wrap: $wrap;
  box-sizing: border-box;
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

.container {
  display: block;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 50px;
}