$backgroundColor: #EFE9F4;
$teal: #16BAC5;
$tealHover: #20a6b0;
$blueAlpha: #5fbef9f0;

$border-radius: 15px;
$boxShadow: 0px 0px 6px -1px rgba(0,0,0,0.43);

$fontBlack: #171D1C;
$fontWhite: #FFFFFF;
$fontFamily: 'Roboto';

$breakpoints: (
  'medium': 600px,
  'large': 1290px,
) !default;